@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
}
*::selection {
  background-color: var(--primary-color);
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--primary-color);
  opacity: 0.5;
  transition: all 0.5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--primary-color);
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
:root {
  --primary-color: #E4017E;
  --secondary-color: #FBEEE5;
  --light-color: #fff;
  --dark-color: #000;
  --gray-color: #808080;
  --primary-filter: invert(15%) sepia(94%) saturate(5672%) hue-rotate(318deg) brightness(89%) contrast(104%);
  --light-filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}

.custom-btn {
  width: 180px;
  height: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--primary-color);
  z-index: 9;
}
.custom-btn img {
  width: 24px !important;
  height: 24px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  filter: var(--light-filter);
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  display: unset !important;
}
.custom-btn span {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.custom-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: top right;
  transform: scale(0, 1);
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  background-color: var(--light-color);
}
.custom-btn:hover {
  box-shadow: 0px 0px 10px rgba(228, 1, 126, 0.2);
}
.custom-btn:hover::after {
  transform-origin: bottom left;
  transform: scale(1, 1);
}
.custom-btn:hover img {
  filter: var(--primary-filter);
}
.custom-btn:hover span {
  color: var(--primary-color);
}

.general-section {
  width: 100%;
  padding: 70px 0px 40px 0px;
  position: relative;
  z-index: 9;
}

.custom-heading {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.custom-heading .heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
  position: relative;
  z-index: 9;
}
.custom-heading .heading h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.custom-heading .heading p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.custom-heading .heading::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 0px 10px 10px 0px;
}
.custom-heading .see-more {
  display: flex;
  align-items: center;
  align-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  position: relative;
  z-index: 9;
}
.custom-heading .see-more span {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 700;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.custom-heading .see-more .image-content {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.custom-heading .see-more .image-content img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: var(--light-filter);
  transition: all 0.3s linear;
}
.custom-heading .see-more::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.custom-heading .see-more::after {
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  transform: scaleX(0);
}
.custom-heading .see-more:hover::after {
  transform: scale(1);
}
.custom-heading .see-more:hover .image-content img {
  -webkit-animation: fadeInLeft 0.4s linear;
          animation: fadeInLeft 0.4s linear;
}
.custom-heading .see-more:hover span {
  color: var(--primary-color);
}

.product-box {
  width: 100%;
  position: relative;
  z-index: 9;
  overflow: hidden;
  background-color: var(--light-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s linear;
}
.product-box .image-content {
  width: 100%;
  height: 240px;
  position: relative;
  z-index: 9;
}
.product-box .image-content .product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-box .image-content .product-buttons {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 10px;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  transform: translateX(100%);
  transition: all 0.3s linear;
}
.product-box .image-content .product-buttons .product-btn {
  width: 35px;
  height: 35px;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  margin-bottom: 14px;
  overflow: hidden;
}
.product-box .image-content .product-buttons .product-btn:last-child {
  margin-bottom: 0px;
}
.product-box .image-content .product-buttons .product-btn .icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: var(--primary-filter);
}
.product-box .image-content .product-buttons .product-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: top right;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
}
.product-box .image-content .product-buttons .product-btn:hover::after {
  transform: scale(1, 1);
  transform-origin: bottom left;
}
.product-box .image-content .product-buttons .product-btn:hover img {
  -webkit-animation: fadeInLeft 0.4s linear;
          animation: fadeInLeft 0.4s linear;
  filter: var(--light-filter);
}
.product-box .image-content .discount {
  padding: 10px 15px;
  background-color: var(--primary-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--light-color);
  transition: all 0.3s linear;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.product-box .image-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0;
  left: 0;
  z-index: 9;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}
.product-box .contain {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
}
.product-box .contain .product-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-color);
  margin: 0px;
}
.product-box .contain .desc {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-color);
  margin: 15px 0px;
}
.product-box .contain .price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.product-box .contain .price .count {
  margin-bottom: 0px;
  font-size: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product-box .contain .price .count.after {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  font-weight: 700;
  color: var(--dark-color);
}
.product-box .contain .price .count.before {
  color: var(--gray-color);
  font-weight: 500;
  text-decoration: line-through;
  padding: 0px 10px;
}
.product-box:hover {
  transform: translateY(-10px);
}
.product-box:hover .image-content .product-buttons {
  transform: translate(0px);
}
.product-box:hover .image-content::after {
  height: 100%;
}
.product-box:hover .product-title {
  color: var(--primary-color);
}
.product-box:hover .discount {
  transform: translateX(-200%);
}

.navbar {
  width: 100%;
  padding: 10px 0px;
  background-color: var(--light-color);
}
.navbar .content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .content .hamburger {
  display: none;
}
.navbar .content .hamburger .line {
  width: 30px;
  height: 3px;
  background: var(--primary-color);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .content .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .content .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .content .hamburger.active .line:nth-child(1), .navbar .content .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .content .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .content .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .content .brand-name img {
  width: 140px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .content .navbar-nav {
  flex-direction: row;
}
.navbar .content .navbar-nav .nav-item {
  -webkit-margin-end: 25px;
          margin-inline-end: 25px;
}
.navbar .content .navbar-nav .nav-item:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.navbar .content .navbar-nav .nav-item .nav-link {
  padding: 0px 0px 10px;
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 700;
  position: relative;
  z-index: 9;
}
.navbar .content .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  bottom: 0px;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transition: all 0.3s linear;
}
.navbar .content .navbar-nav .nav-item .nav-link:hover::after {
  transform: scaleX(1);
}
.navbar .content .icons-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .content .icons-contain li {
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.navbar .content .icons-contain li a {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 9;
}
.navbar .content .icons-contain li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  transition: all 0.3s linear;
}
.navbar .content .icons-contain li a span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: var(--light-color);
  font-size: 13px;
  font-weight: 700;
  padding-top: 2px;
}
.navbar .content .icons-contain li a:hover img {
  transform: scale(1.2);
  filter: var(--primary-filter);
}
.navbar .content .icons-contain li:last-child {
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
}

header .item {
  width: 100%;
  padding: 200px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0px 4px;
}
header .item .content {
  width: 100%;
}
header .item .content h1 {
  color: var(--light-color);
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
}
header .item .content p {
  color: #f7f7f7;
  font-size: 15px;
  font-weight: 500;
  text-align: justify;
  line-height: 1.4rem;
  margin: 20px 0px;
}
header .owl-theme .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
}

.banners .banner-box {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.banners .banner-box.small-box {
  height: 200px;
}
.banners .banner-box .banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s linear;
}
.banners .banner-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 9;
  pointer-events: none;
  transition: all 0.3s linear;
}
.banners .banner-box .contain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  transform: translateX(100%);
  transition: all 0.5s linear;
  z-index: 99;
}
.banners .banner-box .contain h2 {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.banners .banner-box .small-data {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s linear;
  z-index: 99;
}
.banners .banner-box .small-data h2 {
  color: var(--light-color);
  font-size: 25px;
  font-weight: 900;
  margin: 0px;
}
.banners .banner-box:hover::after {
  height: 100%;
}
.banners .banner-box:hover .contain {
  transform: translateY(0px);
}
.banners .banner-box:hover .small-data {
  transform: translateY(100%);
}
.banners .banner-box:hover .banner-img {
  transform: scale(1.2);
}

.category {
  background-color: var(--secondary-color);
}
.category .box {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.category .box .image-content {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--secondary-color);
  margin-bottom: 20px;
  transition: all 0.3s linear;
}
.category .box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.category .box h2 {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: var(--dark-color);
  margin: 0px;
}
.category .box:hover .image-content {
  transform: translateY(-10px);
}
.category .box:hover h2 {
  color: var(--primary-color);
}
.category .owl-stage {
  padding: 20px 0px;
}

.big-banner {
  padding: 100px 0px;
  background: url("../images/banner.jpg") center/cover no-repeat;
}
.big-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: -1;
}
.big-banner .contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.big-banner .contain h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary-color);
  margin: 0px;
}
.big-banner .contain p {
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: justify;
  margin: 20px 0px;
}

.features {
  background-color: #f7f7f7;
}
.features .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.features .box img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto !important;
  filter: var(--primary-filter);
  transition: all 0.3s linear;
}
.features .box h4 {
  margin: 20px 0px 0px 0px;
  text-align: center;
  color: var(--dark-color);
  font-weight: 900;
  font-size: 18px;
}
.features .box:hover img {
  transform: translateY(-10px);
}

footer {
  width: 100%;
  padding: 40px 0px 10px 0px;
  background-color: var(--light-color);
}
footer .content {
  width: 100%;
}
footer .content .brand-name img {
  width: 200px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .content p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 20px 0px;
}
footer .content .socail-media {
  display: flex;
  align-items: center;
  align-content: center;
}
footer .content .socail-media li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .content .socail-media li:last-child {
  margin: 0px;
}
footer .content .socail-media li a img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.3;
  filter: var(--primary-filter);
  transition: all 0.3s linear;
}
footer .content .socail-media li a:hover img {
  opacity: 1;
  -webkit-animation: tada 0.4s linear;
          animation: tada 0.4s linear;
}
footer .content h1 {
  font-size: 25px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 24px;
}
footer .content .links-contain {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}
footer .content .links-contain .links {
  width: 40%;
}
footer .content .links-contain .links li {
  margin-bottom: 15px;
}
footer .content .links-contain .links li:last-child {
  margin: 0px;
}
footer .content .links-contain .links li a {
  color: var(--dark-color);
  font-size: 13px;
  font-weight: 500;
}
footer .content .links-contain .links li a:hover {
  color: var(--primary-color);
}
footer .content .form-contain .form-group {
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 25px;
}
footer .content .form-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 0px 20px;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  -webkit-padding-end: 120px !important;
          padding-inline-end: 120px !important;
}
footer .content .form-contain .form-group .form-control::-moz-placeholder {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-color);
}
footer .content .form-contain .form-group .form-control:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-color);
}
footer .content .form-contain .form-group .form-control::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-color);
}
footer .content .form-contain .form-group .search-btn {
  width: 100px;
  height: 40px;
  border: 0px;
  outline: none;
  border-radius: 50px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  top: calc(50% - 20px);
  left: 5px;
}
footer .content .form-contain .form-group .search-btn:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
}
footer .content .list {
  display: flex;
  align-items: center;
  align-content: center;
}
footer .content .list li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .content .list li:last-child {
  margin: 0px !important;
}
footer .content .list li img {
  width: 120px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
footer .copyrigths {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
footer .copyrigths p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
footer .copyrigths .payment {
  width: 200px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 10px;
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .navbar-nav {
    width: 100%;
    height: 100vh;
    background-color: var(--light-color) !important;
    position: absolute;
    top: 80px;
    right: -100%;
    z-index: 9999;
    flex-direction: column !important;
    justify-content: flex-start !important;
    text-align: center !important;
    transition: all 0.3s linear;
  }
  .navbar .navbar-nav li {
    width: 100%;
    border-bottom: 1px solid #f7f7f7;
    padding: 10px 20px;
    text-align: start;
  }
  .navbar .navbar-nav li a {
    width: 100%;
    -webkit-padding-start: 15px !important;
            padding-inline-start: 15px !important;
    padding-bottom: 0px !important;
    display: flex;
  }
  .navbar .navbar-nav li a::after {
    width: 10px !important;
    height: 10px !important;
    background-color: var(--primary-color);
    top: 5px !important;
    bottom: unset !important;
    right: 0px !important;
    left: unset !important;
    border-radius: 2px;
    transform: scale(1) !important;
  }
  .navbar .navbar-nav::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url("../images/icon.png") center/contain no-repeat;
    bottom: 100px;
    left: 50px;
    opacity: 0.5;
    z-index: -1;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px;
  }
  .navbar .icons-contain {
    width: 100%;
    padding: 20px 10px;
    position: fixed !important;
    background-color: var(--light);
    bottom: 0;
    justify-content: center !important;
    left: 0;
    z-index: 9997;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .navbar .icons-contain li {
    width: 33.3333333333% !important;
  }
  .navbar .icons-contain li a {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .navbar .icons-contain li span {
    display: none !important;
  }
  .custom-heading {
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
  }
  .custom-heading .heading {
    margin-bottom: 20px !important;
  }
  .custom-heading .see-more {
    margin-right: auto !important;
  }
  .banners .banner-box {
    height: 200px !important;
  }
  header .item {
    padding: 100px 0px !important;
  }
}/*# sourceMappingURL=style.css.map */